<div class="mt-5" *ngIf="auth.user$ | async as user; else login">
  <div class="container">
    <app-main-page [user]="user"></app-main-page>
  </div>
</div>

<ng-template #login>
  <div class="container mt-5">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Sign in</h3>
          <div class="d-flex justify-content-end social_icon">
            <img class="social-icon" (click)="auth.facebookSignIn()" src="../../../assets/images/facebook.png">
            <img class="social-icon" (click)="auth.googleSignIn()" src="../../../assets/images/google-plus.png">
            <img class="social-icon" (click)="auth.twitterSignIn()" src="../../../assets/images/twitter.png">
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" formControlName="name" placeholder="Username">
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" formControlName="email" placeholder="Email">
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" formControlName="password" placeholder="Password">
            </div>
            <div class="row align-items-center remember">
              <input type="checkbox">Remember Me
            </div>
            <div class="form-group">
              <button [disabled]="loginForm.invalid" class="btn float-right login_btn" (click)="singIn()">Login</button>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            Don't have an account?<a href="#">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
